<h1>Find recipes with YOUR ingredients</h1>
<p>Give a list of ingredients you have in your fridge, separate ingredients by space.</p>

<%= form_for :search, url: search_recipes_path, methode: :post do |form| %>
  <%= form.text_area :ingredients %>
  <%= form.submit "Find recipes" %>
<% end  %>

<% @matching_recipes&.each do |recipe| %>
	<ul>
		<li><%= link_to recipe.title, recipe_path(recipe) %></li>
	</ul>
<% end %>
